#set($workitem = $trackerService.getWorkItem($page.project,"<WORKITEM_ID>"))
#set($test_steps_keys = $workitem.getTestCase().getTestSteps().getKeys())

#foreach($test_steps_key in $test_steps_keys)
    $test_steps_key.getId()<br>
#end
