#set($workitem = $trackerService.getWorkItem("<PROJECT_ID>", "<WORKITEM_ID>"))
#set($test_steps = $workitem.getTestCase().getTestSteps().getSteps())
#set($counter = 0)

<table class="polarion-rpw-table-content">
    <tr class="polarion-rpw-table-header-row">
        <th>Step</th>
        <th>Description</th>
        <th>Result</th>
    </tr>
    #foreach($test_step in $test_steps)
        <tr class="polarion-rpw-table-content-row">
            ## table cell
            <td>$test_steps.get($counter).getValues().get(0).getContent()</td>
            <td>$test_steps.get($counter).getValues().get(1).getContent()</td>
            <td>$test_steps.get($counter).getValues().get(2).getContent()</td>
        </tr>
        #set($counter = $counter + 1)
    #end
</table>
