#set($wi = $trackerService.getWorkItem($page.project,"<WORKITEM_ID>"))
#set($testStepsKeys = $wi.getTestCase().getTestSteps().getKeys())

#foreach($testStepsKey in $testStepsKeys)
    $testStepsKey.getId()<br>
#end
