$transactionService.beginTx()
 
#set($wi_change=$trackerService.getWorkItem($page.project,"WEN-516"))
#set($prefix="Prefix")
 
$wi_change.setTitle($prefix.concat($wi_change.title))
$wi_change.save()  

$transactionService.commitTx()
