#set($workitem = $trackerService.getWorkItem("<PROJECT_ID>", "<WORKITEM_ID>"))

#foreach($assignee in $workitem.getAssignees())
    #set($assignee_id = $assignee.getId())
#end

$transactionService.beginTx()
    #if(!$workitem.getCustomField(<CUSTOM FIELD ID>))
        $workitem.setCustomField(<CUSTOM FIELD ID>,$assignee_id)
    #end
    $workitem.save()
$transactionService.endTx(false)
