#set($status_list_1 = $transaction.enumerations.getEnumeration("status").forType("<WORKITEM_TYPE_ID>").forProject("<PROJECT_ID>").options)
#set($status_list_2 = $transaction.enumerations.getEnumeration("status").forType("<WORKITEM_TYPE_ID>").forProject("<PROJECT_ID>").options)

#set($all_statuses = [])

#foreach($item in $status_list_1)
    #set($buffer = $all_statuses.add($item))
#end

#foreach($item in $status_list_2)
    #if($all_statuses.contains($item) == true)

    #else
        #set($buffer = $all_statuses.add($item))
    #end
#end

#foreach($status in $all_statuses)
    $status.render() <br>
#end
