#set ($project = $trackerService.getTrackerProject("<PROJECT_ID>"))
#set ($context_id = $project.getcontext_id())
#set ($test_run = $testManagementService.getTestRun($project.getId, "<TEST_RUN_ID>")

<h1>Test Records Table</h1>
<table class="polarion-rpw-table-content">
    <tr class="polarion-rpw-table-header-row">
        <th>Date Executed</th>
        <th>Executed By</th>
        <th>Results</th>
        <th>Signed</th>
        <th>Test Case ID</th>
    </tr>
    #foreach($record in $test_run.getRecords())
        <tr class="polarion-rpw-table-content-row">
            <td>$record.getExecuted()</td>
            <td>$record.getExecutedBy().getId()</td>
            <td>$record.getResult().getName()</td>
            <td>$record.isSigned()</td>
            <td>$record.getTestCase().getId()</td>
        </tr>
    #end
</table>
