#set ($project = $trackerService.getTrackerProject($testRun.reference.projectId))
#set ($contextId = $project.getContextId())
#set ($itestRun = $testManagementService.getTestRun($testRun.reference.projectId, $testRun.reference.id()))

<h1>Custom Test Records Table</h1>

## start table
<table class="polarion-rpw-table-content">
    ## header table row
    <tr class="polarion-rpw-table-header-row">
        <th>Defect Created</th>
        <th>Date Executed</th>
        <th>Executed By</th>
        <th>Results</th>
        <th>Signed</th>
        <th>Test Case ID</th>
    </tr>
    ## iterate over all test records
    #foreach($record in $itestRun.getRecords())
    ## content table row
    <tr class="polarion-rpw-table-content-row">
        <td>$record.getDefect().getId()</td>
        <td>$record.getExecuted()</td>
        <td>$record.getExecutedBy().getId()</td>
        <td>$record.getResult().getName()</td>
        <td>$record.isSigned()</td>
        <td>$record.getTestCase().getId()</td>
    </tr>
    #end
## end of test records table
</table>
