################################################################################
## This example assumes Wiki Scripting Tools Polarion Extension is installed  ##
## URL: http://extensions.polarion.com/extensions/83-wiki-scripting-tools     ##
################################################################################

#set ($repository_service = $polarionTool.repositoryService)
#set ($security_service = $trackerService.getDataService().getSecurityService())
#set ($project_id = "<PROJECT_ID>")
#set ($project = $projectService.getProject($project_id))
#set ($tracker_project = $trackerService.getTrackerProject($project_id))
#set ($location = $project.getLocation())
#set ($baselines_manager = $tracker_project.getBaselinesManager())

$transactionService.beginTx()
    #set ($repository_service = $polarionTool.repositoryService)
    #set ($repository_connection = $repository_service.getConnection($location))
    #set ($current_revision = $repository_connection.getCurrentRepositoryState())
    #set ($current_date = $dateTool.get('yyyy-M-d-H:m:s'))
    #set ($current_user = $security_service.getCurrentUser())
    #set ($current_user_object = $trackerService.getTrackerUser($current_user))
    #set ($baseline_description = "baseline description")
    #set ($baseline = $baselines_manager.createBaseline($current_date, $baseline_description, $current_revision, $current_user_object))
    $baseline.save()
$transactionService.endTx(false)
