#set($security_service = $trackerService.getDataService().getSecurityService())

#set ($user_role = "<PROJECT_USER_ROLE>")
#set ($project_id = "<PROJECT_ID>")
#set ($project = $projectService.getProject($project_id))
#set ($context_id = $project.getContextId())
#set ($users = $security_service.getUsersForContextRole($user_role , $context_id))

$transactionService.beginTx()
    #foreach ($user in $users)
        $security_service.removeContextRoleFromUser($user, $user_role, $context_id)
    #end
$transactionService.endTx(false)
